@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
  --background: #FFEFD7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFEFD7;
    --foreground: #171717;
  }
}

html,
body {
  overflow: hidden;
  height: 100%;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Madimi One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
