.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;     
  padding: 32px 16px;
  height: 100%;
}

.logo {
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
}
.logo h1 {
  font-size: clamp(2.5rem, 6vw, 4rem);
  line-height: 1;
  margin: 20px;
  z-index: 1;
  position: relative;
}

.tomato {
  position: absolute;
  bottom: -60px;   
  right: -60px;    
  width: clamp(60px, 12vw, 100px);
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #CFD7AF;
  border-radius: 2rem;
  width: min(720px, 90%); 
  height: 68%;
  padding: 24px;
  gap: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,.15);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form input[type="email"],
.form input[type="password"] {
  text-align: center;
  padding: 12px 14px;
  border: 2px solid #41513F;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  width: 60%;
  gap: 12%;
  background-color: #D9D9D9;
  color: black;
  font-family: "Madimi One";
}

.form input[type="submit"] {
  margin-top: 8px;
  padding: 12px 14px;
  border: 0;
  border-radius: 12px;
  background: #41513F;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 40%;
}

.footer {
  text-align: center;
  color: #333;
}
.footer a {
  color: #213220;
  font-weight: 600;
  text-decoration: none;
}
